.main-container{
  background: rgba(0,0,0,0.07);
  overflow: scroll;
  position: relative;
}

.graph{
  display: inline-block;
  height: 280px;
  width: 440px;
  background: white;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

#simulation-canvas{
  border: 1px solid #ccc;
  background: #333;
  height: 400px;
  width: 400px;;
}
.t-head{
  border-top: none !important;
}

.controls-container{
  width: 220px;
  padding: 20px;
  background: #ddd;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  right: 250px;
  box-shadow: 0 0 8px rgba(0,0,0,.3);
}


.simulation-area{
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  height: 100%;
  margin-left: 225px;
  padding-left: 20px;
  padding-top: 20px;
}



.charts{
  display: inline-block;
  margin-left: 40px;
  height: 100vh;
  overflow-y: scroll;
  over
}


#top-strains{
  margin: 0 auto;
}


.strain-key{
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
}

.table-cont{
  height: 160px;
  width: 400px;
  border: 1px solid #ccc;
  padding: 0 10px;
  background: white;
  margin-bottom: 10px;
}

.table-cont span{
  font-size: 14px;
  display: block;
  text-align: center;
  padding: 10px 0;

}

.ui-slider-handle{
  border: 1px solid #c5c5c5;
  background: #f6f6f6;
  font-weight: normal;
  color: #454545;
  height: 10px;
  width: 10px;
}

.slider-control{
  border: 1px solid #ccc;
  background: white;
  color: black;
  height: .8em;
  width: 300px;
}

.sliders{
}

.slider-cont{
  margin-right: 10px;
  padding-top: 20px;
  position: relative;
}

.slider-cont:first-child{
  padding-top: 10px;
}

.slider-cont:last-child{
  margin-bottom: 20px;
}

.btn-bar{
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}

.btn:first-child{
  margin-right: 10px;
}

.controls-container > span{
  display: block;
  padding-bottom: 8px;
  font-size: 15px;
  font-weight: bold;
}

.label-val{
  font-weight: 700;
}

#sim-container{
  position: relative;
  height: 415px;
}

.extinction-overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.2);
  text-align: center;
  padding-top: 150px;
  height: 400px;
  color: white;
  font-size: 15px;
}

.after-sim{
  animation: fadein .5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.extiction-overlay p{
  font-size: 16px;
  color: white;
  padding: 5px 40px;
}


.logo {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
    justify-content: space-between;
    width: 150px;
    display: flex;
    align-items: center;
}

header ul{
  display: inline-block;
  margin-bottom: 0;
}

header li{
  padding: 10px 20px;
  font-size: 14px;
}

header li:hover{
  color: #ccc;
  cursor: pointer;
}

.header-bar{
  background: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 60px;
  width: 100%;
}

body{
  font-family: 'Roboto', sans-serif;
  color: #333;
}

.about-modal-overlay{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,.6);
  z-index: 2;
  line-height: 1.3em;
}

.about-modal{
  width: 570px;
  border-radius: 10px;
  opacity: .97;
  color: #eee;
  background: #333;
  z-index: 3;
  padding: 10px 20px;
  margin: 0 auto;
  margin-top: 70px;
  position: relative;
}

#close-modal-btn{
  position: absolute;
  right: 20px;
  top: 25px;
  font-size: 1.2em;
  color: #bbb;
}

#close-modal-btn:hover{
  color: #999;
  cursor: pointer;
}

.mdl-header{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 300;
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  color: #99ff99;
}

.about-modal ul{
  padding: 0 20px;
}

.about-modal li{
  list-style: disc;
  padding-bottom: 5px;
}

.sample-pred{
  display: inline-block;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: #F25F5C;
}

.sample-prey{
  display: inline-block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: #50BDD8;
}

#mut{
  background: #fbcc76;
}

.mdl-content{
  overflow: scroll;
}

body{
  position: relative;
}

.ex-text{
  padding: 10px 37px;
}

.logo-img{
  height: 35px;
  width: 35px;
  display: inline-block;
}

.logo-txt{
  display: inline-block;
  height: 100%;
  line-height: 100%;
  color: #99ff99;
}

.slider-cont > label{
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

.key{
  background: #333;
  color: #eee;
  display: flex;
  flex-direction: column;
  margin: 0px 0px 20px 0px;
  padding: 10px 5px;
  border-radius: 5px;
}

.key-item{
  display: flex;
  align-items: center;
  margin: 5px 10px;
  font-size: 12px
}

.key-item > div{
  margin-right: 4px;
}

.key-item > .sample-prey{
  margin-left: 5px;
  margin-right: 9px;
}

.key-header{
  text-align: center;
  font-weight: bold;
  padding-bottom: 3px;
  margin-bottom: 3px;
  border-bottom: 1px solid #ccc;
  font-size: 13px;
}

#sample-mut{
  display: inline-block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: #fbcc76;
  margin-left: 5px;
  margin-right: 9px;
}

.tool-arrow{
  position: absolute;
  background-color: #555;
  height: 16px;
  width: 16px;
  transform: rotate(45deg);
  bottom: -7px;
  left: 11px;
  background: #333;
  opacity: .95;
}

.tool-tip {
  position: absolute;
  z-index: 1;
  background: #333;
  color: #eee;
  border-radius: 5px;
  padding: 15px;
  bottom: 47px;
  left: -12px;
  width: 200px;
  font-size: 13px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.25s linear;
}

.tool-wrap:hover .tool-tip{
  opacity: .95;
  visibility: visible;
  transition: opacity 0.25s linear;
}

.tool-wrap{
  display: inline-block;
}
