.main-container{
  background: rgba(0,0,0,0.04);
  overflow: scroll;
  position: relative;
}

.graph{
  display: inline-block;
  height: 250px;
  width: 430px;
  background: white;
  border: 2px solid #555;
  margin-bottom: 20px;
}

#simulation-canvas{
  border: 2px solid #555;
  background: white;
  height: 400px;
  width: 400px;;
}

.controls-container{
  width: 200px;
  padding: 20px 10px 0 10px;
  background: #ddd;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  right: 250px;
}

.simulation-area{
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  height: 100%;
  margin-left: 210px;
  padding-left: 20px;
  padding-top: 20px;
}



.charts{
  display: inline-block;
  margin-left: 40px;
  height: 100vh;
  overflow-y: scroll;
  over
}


#top-strains{
  margin: 0 auto;
}


.strain-key{
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
}

.table-cont{
  height: 160px;
  width: 400px;
  border: 2px solid #555;
  padding: 0 10px;
  background: white;
  margin-bottom: 20px;
}

.table-cont span{
  font-size: 14px;
  display: block;
  text-align: center;
  padding: 10px 0;

}

.ui-slider-handle{
  border: 1px solid #c5c5c5;
  background: #f6f6f6;
  font-weight: normal;
  color: #454545;
  height: 10px;
  width: 10px;
}

.slider-control{
  border: 1px solid #ccc;
  background: white;
  color: black;
  height: .8em;
  width: 300px;
}

.sliders{
}

.slider-cont{
  margin-right: 10px;
  padding-top: 20px;
}

.slider-cont:last-child{
  margin-bottom: 20px;
}

.btn-bar{
  display: flex;
  justify-content: center;
}

.btn:first-child{
  margin-right: 10px;
}

.controls-container > span{
  display: block;
  padding: 10px 0;
  text-align: center;
  font-size: 18px;
}

#sim-container{
  position: relative;
  height: 415px;
}

.extinction-overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  padding-top: 150px;
  height: 400px;
  color: white;
  font-size: 15px;
}

.after-sim{
  animation: fadein .5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.extiction-overlay p{
  font-size: 16px;
  color: white;
  padding: 5px 40px;
}


.logo{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 300;
  display: inline-block;
}

header ul{
  display: inline-block;
  margin-bottom: 0;
}

header li{
  padding: 10px 20px;
  font-size: 14px;
}

header li:hover{
  color: #ccc;
  cursor: pointer;
}

.header-bar{
  background: #555;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: 60px;
  width: 100%;
}

body{
  font-family: 'Roboto', sans-serif;
}

.about-modal-overlay{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,.6);
  z-index: 2;
}

.about-modal{
  width: 600px;
  border-radius: 10px;
  border: 1px #ccc solid;
  background: white;
  z-index: 3;
  padding: 10px 20px;
  margin: 0 auto;
  margin-top: 70px;
}

.mdl-header{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 300;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

.about-modal ul{
  padding: 0 20px;
}

.about-modal li{
  list-style: disc;
  padding-bottom: 5px;
}

.sample-pred{
  display: inline-block;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: red;
}

.sample-prey{
  display: inline-block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: blue;
}

#mut{
  background: green;
}

.mdl-content{
  overflow: scroll;
}

body{
  position: relative;
}
